<!DOCTYPE html>
<html>
<head>
<style>

body{
   background-image:url("/assets/menu.jpg");
   background-repeat: no-repeat;
   background-size: cover;	
}

</style>

	
</head>
<body>

	<h1>Editing Menu</h1>
	<%= render 'form', menu: @menu %>

<%= link_to 'Show', @menu %> |
<%= link_to 'Back', menus_path %>


</body>
</html>






