<!DOCTYPE html>
<html>
<head>
	<style>

body{
   background-image:url("/assets/img2.jpg");
   background-repeat: no-repeat;
   background-size: cover;	
}

</style>
</head>
<body>
	<h1>New Menu</h1>

<%= render 'form', menu: @menu %>

<%= link_to 'Back', menus_path %>


</body>
</html>

