<html>
<head>
	<title>Contact Uss</title>
	<style> 

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

body{
   background-image:url("/assets/img1.jpg");
   background-repeat: no-repeat;
   background-size: cover;  
}


  </style>
</head>
<body>

<div class="container">
  <div style="text-align:center">
    <h2>Contact Us</h2>
    <p>Swing by for a cup of coffee.</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="/assets/bg4.jpg" style="width:100%">
    </div>
    <br>
    <div> <p> <h4>Address:</h4>
               CAFFE DOEM TOWN
               <br> 
               plot 234,near street road,
                Nagar.</p>
          <p>Mobile No:9985641237</p>

          <p>Email Id:cafedowntown12@gmail.com</p>
          <br>
          <br>

          <h1>Thank You , Visit Again. </h1>
 
    </div>
  </div>
</div>
</body>
</html>	
