<!DOCTYPE html>
<html>
  <head>
    <title>Cafe</title>
  </head>

<% begin %>
  <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => 'reload', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
<% rescue %>
  <script>
    window.location.replace "#{user_session_url()}"
  </script>
<% end %>

  <body>
    <%= yield %>
  </body>
</html>
